@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap");

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: 3rem;
  font-weight: 800;
}

form #sliderValue {
  font-size: 1rem;
  font-weight: 500;
}

#slider {
  margin: 30pt 0 20pt 0;
  width: 250pt;
  cursor: pointer;
}

.remainTime {
  margin-top: 35pt;
  font-size: 2rem;
  font-weight: 600;
}
